.layout{
    position: absolute;
    height: 1200px;
    width: 1190px;
}

.square1{
    width: 440px;
    height: 15px;
}

.square2{
    width: 440px;
    height: 150px;
}

.square3{
    width: 440px;
    height: 35px;
}


.square4{
    width: 90px;
    height: 70px;
}

.square5{
    width: 90px;
    height: 15px;
}

.square6{
    width: 90px;
    height: 100px;
}

.square7{
    width: 274px;
    height: 15px;
}




