

button {
    margin-right: auto;
    margin-left: auto;
}

.pw{
    text-align: center;
    margin-right: auto;
}


form{
    margin: 0 auto;
    text-align: center;
    width: 250px;
}


.pw1{
   font-size: 95.5%;
   text-align: center;
   max-width: 500px;
   margin:0 auto;
}





table {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 30px;
    color: black;
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
}

.t1 {
    background: aqua;
    color: black;
}

.t2 {
    width: auto;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
    
}

tr {
    
    box-sizing: border-box;
    
}

td {
    margin-right: 2em;
}


.one {
    background-color: aqua;
    color: black;
    
}

h3 {
    color: black;
}

.modoru {
    position: absolute;
    left: 900px;
    top: 130px;
}

.modoru2 {
    position: absolute;
    left: 450px;
    top: 193px;
}

.entry_button {
    position: absolute;
    left: 820px;
    top: 193px;
    z-index: 1;
}



.tb {
    background: aqua;
}

.rk1 {
    margin-right: 2em;
    margin: auto;
}

.dd{
    background: aqua;
}


