.mail{
    padding-left: 50px;
    padding-top: 100px;
}

mail{
    padding-left: 100px;
    padding-top: 100px; 
}

.pw{
    padding-left: 50px;
    padding-top: 200px;
}

pw{
    padding-left: 100px;
    padding-top: 200px; 
}

.login{
    padding-left: 120px;
    padding-top: 220px;
}