<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>アカウント管理画面</title>

</head>
<body>
    <form action=""></form>
    検索<input type="search"  name="SeachWord" autofocus>
    <a href="ringi_search.html"><input type="submit" value="戻る"></a>

    <table border="1">
        <tr class="t1">
            <td>氏名</td>
            <td>役職</td>
            <td>メールアドレス</td>
            <td>上司のメールアドレス</td>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="email"></td>
            <td><input type="email"></td>   
        </tr><br>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="email"></td>
            <td><input type="email"></td>   
        </tr><br>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="email"></td>
            <td><input type="email"></td>   
        </tr><br>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="email"></td>
            <td><input type="email"></td>   
        </tr><br>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="email"></td>
            <td><input type="email"></td>   
        </tr><br>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="email"></td>
            <td><input type="email"></td>   
        </tr><br>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="email"></td>
            <td><input type="email"></td>   
        </tr><br>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="email"></td>
            <td><input type="email"></td>   
        </tr><br>
    </table>
    <input type="reset" value="削除" class="button">
</body>
</html>