<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>アカウント登録画面</title>
</head>
<body>
    <fieldset>
    メールアドレス：<input type="text" name="mail" placeholder=""><br>
    名前：<input type="text" name="Name" placeholder="例：岩手太郎"><br>
    役職：<select name="job">
        <option value="general">一般社員</option>
        <option value="chief">主任（上司）</option>
        <option value="director">部長</option>
        <option value="managing_director">常務取締役</option>
        <option value="president">社長</option>

    </select><br>
    直属の上司のメールアドレス：<input type="text" name="direct_boss" placeholder="例：~.jp,~.com"><br>
    所属部署：<input type="text" name="department" placeholder="例：~(会社・企業名) ~部"><br>
    <h3 style="text-align: center;">この内容で登録します。</h3>
    <button onclick="location.href='index.html'">戻る</button>
    <button onclick="location.href='result.html'">登録</button>
    </fieldset>
</body>
</html>