<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/paper.css">
    <title>Document</title>
</head>
<body>
    <div class="layout">
        <table border="0">
            <tr>
                <td>
                    <table border="1" style="border-collapse: collapse; margin-left: 100px; margin-top: 150px;  position: absolute;">
                        <tr>
                            <th class="square1"></th>
                        </tr>
                        <tr>
                            <td class="square2"></td>
                        </tr>
                        <tr>
                            <td class="square3"></td>
                        </tr>
                    </table>
                </td>
                
                <td>
                    <table border="1" style="border-collapse: collapse; margin-left: 750px; margin-top: 150px;  position: absolute;">
                        <tr>
                            <th colspan="4" class="square1"></th>
                        </tr>
                        <tr>
                            <td class="square4"></td>
                            <td colspan="3" class="square4"></td>
                        </tr>
                        <tr>
                            <td class="square5"></td>
                            <td class="square5"></td>
                            <td class="square5"></td>
                            <td class="square5"></td>
                        </tr>
                        <tr>
                            <td class="square6"></td>
                            <td class="square6"></td>
                            <td class="square6"></td>
                            <td class="square6"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table border="1" style="border-collapse: collapse; margin-left: 90px; margin-top: 400px;  position: absolute;">
            <tr>
                <td colspan="3" class="square7"></td>
                <td class="square7"></td>
            </tr>
        </table>
    </div>
</body>
</html>