<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>新規登録</title>
</head>
<body>
    
    <form action="account2.html" method="GET">
    <fieldset>
        <p>メールアドレス<br>
        <input type="email" name="mail"></p> 

        <p>パスワード<br>
        <input type="password" name="pw"></p>
        <button onclick="location.href='account2.html'">登録</button>   
    </fieldset>
    </form>
</body>
</html>