<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>アカウント登録画面（管理者）</title>
</head>

<body class="pw1">
    <form action="{{url_for('entry')}}" method="post">
        <div class="pw">
            <h2 class=>パスワードを入力してください</h2><br>
            <input type="password" name="pw" pattern="[a-zA-Z0-9]+"><br>
            <input type="hidden" name="auth" value="1">
            <input type="submit" value="次へ">
            <!-- <button oneclick="location.href='ringi_search.html'">次へ</button> -->
        </div>
    </form>
</body>

</html>