<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/ringi.css">
    <title>Document</title>
</head>

<body>
    <form action="{{url_for('login')}}" method="post">
    <div class="box"></div>
    {% if error != None %}
    <p style="color: red; text-align: center; position:absolute; top:70%; left: 30%;">{{error}}</p>
    {% endif %}
    <p class="title2">稟議書申請システム</p>
    <p class="mail">メールアドレス</p>
    <input type="text" class="textmail" name="textmail">
    <p class="pw">パスワード</p>
    <input type="password" class="textpw" name="textpw">
    <input class="login" type="submit" value="ログイン">
    </form>

</body>
</html>