<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/ringi.css">
    <title>Document</title>
</head>

<body>
    <div class="layout">
        <h1 class="title">稟議書申請システム</h1>
        <button class="button1">作成</button>
        <a href="{{url_for('show_document')}}"><button class="button2">一覧</button></a>
        <a href="{{url_for('show_account')}}"><button class="button3">アカウント</button></a>
        <a href="{{url_for('logout')}}"><button class="button4">ログアウト</button></a>
    </div>
</body>
</html>