<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>稟議書管理システム</title>
</head>

<body>
    検索：<input type="search" name="searchWord" pattern="^[ぁ-ん]+$ , [\u3041-\u309F]*" required>
    <a href="account1.html"><input type="submit" value="戻る"></a>
    <table border="1" class="t2">
            <tr class="one">
                <td>稟議書申請一覧</td>
                <td>No.</td>
                <td>稟議書名</td>
                <td>申請者名</td>
                <td>日付</td>
                <td>コメント</td>
                <td>承認締め切り</td>
                <td>申請書状態</td>
                <td>編集</td>
            </tr><br>
            <tr>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                
            </tr><br>
            <tr>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                
            </tr><br>
            <tr>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                
            </tr><br>
            <tr>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                
            </tr><br>
            <tr>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                
            </tr><br>
            <tr>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                
            </tr><br>
            <tr>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                <td><input type="text" width="5"></td>
                
            </tr><br>
    </table>


</body>

</html>