<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/paper2.css">
    <title>Document</title>
</head>
<body>
    <div class="layout">
        <p class="title">稟議書申請</p>
        <p class="approval">稟議書名:</p>
        <p class="manager">担当者名:</p>
        <p class="applicationdate">投稿日:</p>
        <p class="department2">部署名:</p>
        <p class="number2">数量:</p>
        <p class="payment2">支払単価:</p>
        <p class="content2">必要理由:</p>
        <p class="trader2">業者選定理由:</p>
        <p class="comment">コメント:</p>
        <button class="back2">戻る</button>
    </div>
</body>
</html>